{% extends 'site_templates/signup_master.html' %}
{% load staticfiles %}

{% block 'page_title' %}
  {{project_slug}}
{% endblock %}

{% block 'page_header' %}
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Numans');

    html,body {
      background-image: url('{% static "images/background.jpg" %}');
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      font-family: 'Numans', sans-serif;
    }

    .body-sign {
      margin: 0 20% 0 auto;
    }
  </style>
{% endblock %}

{% block 'panel_title' %}
  Welcome
{% endblock %}

{% block 'panel_body' %}
  <form class="form-horizontal">
    <div class="row">
      <div class="col-sm-8">
        <p>Click the login button to go to login</p>
      </div>
      <div class="col-sm-4 text-right">
        <a href="{% url 'appauth:login' %}" class="btn btn-primary hidden-xs">Login</a>
      </div>
    </div>
    

    {% if message %}
      <br />
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        {{ message }}
      </div>
    {% endif %}
  </form>
{% endblock %}

{% block js_block %}
{% endblock %}