{% extends 'site_templates/signup_master.html' %}
{% load staticfiles %}

{% block 'page_title' %}
  Forgot Password
{% endblock %}

{% block 'panel_title' %}
  Recover Password
{% endblock %}

{% block 'panel_body' %}
  <div class="alert alert-info">
    <p class="m-none text-semibold h6">Enter your e-mail below and we will send you reset instructions!</p>
  </div>

  <form role="form" action="{% url 'appauth:forgot_password' %}" method="POST">
    {% csrf_token %}
    <div class="form-group mb-none">
      <div class="input-group">
        <input name="email" type="email" placeholder="E-mail" class="form-control input-lg" autofocus/>
        <span class="input-group-btn">
          <input type="submit" value="Reset!" class="btn btn-primary btn-lg" />
        </span>
      </div>
    </div>

    <p class="text-center mt-lg">Remembered? <a href="{% url 'appauth:login' %}">Sign In!</a>

    {% if message %}
      <br />
      {% if success %}
        <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok-sign"></span>
      {% else %}
        <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
      {% endif %}
        {{ message }}
      </div>
    {% endif %}
  </form>
{% endblock %}