<section class="panel panel-featured-left panel-featured-secondary">
  <div class="panel-body">
    <div class="widget-summary widget-summary-sm">
      <div class="widget-summary-col widget-summary-col-icon">
        <div class="summary-icon bg-secondary">
          <i class="fa fa-times-circle"></i>
        </div>
      </div>
      <div class="widget-summary-col">
        <div class="summary">
          <h4>
            {{ message }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>