<section class="panel panel-featured-left panel-featured-quartenary">
  <div class="panel-body">
    <div class="widget-summary widget-summary-sm">
      <div class="widget-summary-col widget-summary-col-icon">
        <div class="summary-icon bg-quartenary">
          <i class="fa fa-life-ring"></i>
        </div>
      </div>
      <div class="widget-summary-col">
        <div class="summary">
          <h4 class="title">{{ message }}</h4>
          <div class="info">
            <strong class="amount"><a href="{% url 'connect:raise_ticket' %}" style="color: #734ba9;">{{ url_text }}</a></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>