{% extends 'site_templates/signup_master.html' %}
{% load staticfiles %}

{% block 'page_title' %}
  Set Password
{% endblock %}

{% block 'panel_title' %}
  Set Password
{% endblock %}

{% block 'panel_body' %}
  <div class="alert alert-info">
    <p class="m-none text-semibold h6">Set your new password!</p>
  </div>

  <form role="form" action="{% url 'appauth:reset_password' %}?email={{ email }}&token={{ token }}" method="POST">
    {% csrf_token %}
    <div class="form-group mb-lg">
      <label>New Password</label>
      <div class="input-group input-group-icon">
        <input name="password" type="password" class="form-control input-lg" tabindex="1" autofocus />
        <span class="input-group-addon">
          <span class="icon icon-lg">
            <i class="fa fa-lock"></i>
          </span>
        </span>
      </div>
    </div>

    <div class="form-group mb-lg">
      <div class="clearfix">
        <label class="pull-left">Confirm Password</label>
      </div>
      <div class="input-group input-group-icon">
        <input name="confirm_password" type="password" class="form-control input-lg" tabindex="2" />
        <span class="input-group-addon">
          <span class="icon icon-lg">
            <i class="fa fa-lock"></i>
          </span>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="checkbox-custom checkbox-default">
          <input id="RememberMe" name="rememberme" type="checkbox"/>
          <label for="RememberMe">Remember Me</label>
        </div>
      </div>
      <div class="col-sm-4 text-right">
        <button type="submit" class="btn btn-primary hidden-xs" tabindex="3">Set Password</button>
      </div>
    </div>

    {% if message %}
      <br />
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        {{ message }}
      </div>
    {% endif %}
  </form>
{% endblock %}