<section class="panel panel-featured-left panel-featured-tertiary">
  <div class="panel-body">
    <div class="widget-summary widget-summary-sm">
      <div class="widget-summary-col widget-summary-col-icon">
        <div class="summary-icon bg-tertiary">
          <i class="fa {{ icon }}"></i>
        </div>
      </div>
      <div class="widget-summary-col">
        <div class="summary">
          <h4 class="title">{{ title }}</h4>
          <div class="info">
            {{ body }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
