{% extends 'site_templates/email_master.html' %}

{% block body_head %}
    <h2>Change password!</h2>
{% endblock %}

{% block body %}
    <p>Hi {{ name }},</p>
    <p>We have received a request to change your account password. Please click on the following button to reset the password</p>
{% endblock %}

{% block body_footer %}
    <tr>
        <td bgcolor="#3C3F42" align="center" style="border-radius:4px;" width="200" height="50">
            <div class="contentEditableContainer contentTextEditable">
                <a target='_blank' href="{{ url }}" class='link2'>
                    <div class="contentEditable" align='center'>Reset Password</div>
                </a>
            </div>
        </td>
    </tr>
{% endblock %}